   // * Style TITLE
   $titleBanny: "Banny";
   $titleBannyColorBackgroundWhite: #000;
   $titleBannyColorBackgroundImg: #fff;


   // * Style DESCRIPTION
   $descriptionOpenSans: "OpenSans-Regular";
   $descriptionColorBaclgroundWhite: #000;
   $descriptionColorBaclgroundImg: #fff;